body {
            margin: 0;
            font-family: 'Trebuchet MS', Arial, sans-serif;
            background: radial-gradient(circle at top, #1b2b3a, #05080c);
            color: #e6f7ff;
        }

        header {
            position: relative;
            background: linear-gradient(45deg, #23cadd, #1bc986, #92170e , #9e6418,  #a5a3a0, #9e6418,#92170e,#1bc986,#23cadd);
            padding: 20px;
            text-align: center;
            box-shadow: 0 0 20px #00e5ff;
            z-index: 3;
        }

        header h1 {
            margin: 0;
            color: #003344;
            letter-spacing: 2px;
        }

        .container {
            max-width: 900px;
            margin: 40px auto;
            padding: 30px;
            background: rgba(95, 101, 107, 0.418);
            border-radius: 12px;
            box-shadow: 0 0 25px rgba(18, 151, 36, 0.342);
        }

        .container h2 {
            text-align: center;
            color: #00e5ff;
            margin-bottom: 10px;
        }

        .container p {
            text-align: center;
            color: #bfefff;
            margin-bottom: 30px;
        }

        form {
            display: grid;
            gap: 20px;
        }

        label {
            font-weight: bold;
            color: #4d2f09;
            text-shadow: 4px 0px 10px#01ff23;
        }

        input, textarea {
            width: 100%;
            padding: 12px;
            border-radius: 6px;
            border: none;
            background: #0f1f2a;
            color: #e71404b2;
            box-shadow: inset 0 0 8px rgba(156, 9, 9, 0.575);
        }

        input:focus, textarea:focus {
            outline: none;
            box-shadow: 0 0 10px #0cc25879;
        }

        textarea {
            resize: vertical;
            min-height: 120px;
        }

        button {
            padding: 15px;
            font-size: 1.1em;
            font-weight: bold;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            background: linear-gradient(135deg, #23cadd, #1bc986, #92170e , #9e6418,  #a5a3a0, #9e6418,#92170e,#1bc986,#23cadd);
            color: #003344;
            transition: transform 0.2s, box-shadow 0.2s;
        }

        button:hover {
            transform: scale(1.05);
            box-shadow: 0 0 15px #e63e0b;
        }

      

        .slug {
            text-align: center;
            font-size: 2em;
            margin-bottom: 10px;
            text-shadow: 0 0 15px #9e6418;
        }
        .sidebar {
        position: fixed;
        right: 0;
        top: 0;
        width: 220px;
        height: 1000px;
        background: rgba(14, 27, 41, 0.856);
        box-shadow:rgba(0, 229, 255, 0.2);
        padding-top: 40px;
        z-index: 1;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sidebar li {
            margin: 10px 0;
        }

        .sidebar a {
            display: block;
            padding: 100px 10px;
            color: #00ffcc;
            text-decoration: none;
            font-size: 20px;
        }

        .sidebar a:hover {
            background: rgba(57, 43, 182, 0.103);
        }
        footer {
        position: relative;
        z-index: 3;
        background-color: #000;
        text-align: center;
        padding: 11px;
        font-size: 20px;
        color: #aaaaaa;
        
        }

        footer span {
            color: #00eaff;
        }
        a
        {
            color:#00eaff ;
        }
        .description {
            max-width: 900px;
            margin: 40px auto;
            padding: 30px;
            background: rgba(95, 101, 107, 0.418);
            border-radius: 12px;
            box-shadow: 0 0 25px rgba(18, 151, 36, 0.342);
        }
        .description h2
        {
            text-align: center;
            color: #0eb6c9a9;
            margin-bottom: 10px;
            font-size: 45px;
            text-shadow: 7px 2px 5px #92170e;
            
        }
        .description p {
            text-align: center;
            color: #1d6e5e;
            margin-bottom: 30px;
            font-size: 30px;
            text-shadow: 7px 2px 25px #a5a3a0;
        }