html, body {
    margin:0;
    min-height: 100%;
}
body
{
    display: flex;
    flex-direction: column;
    background-image: url(/images/Image\ slugs\ paysage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
main {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 70px;
}
header
{
    position: fixed;
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 3;
}
#LogoSlugterra {
    width: 580px;
}
.card {
            position: relative;
            justify-content: center;
            align-self: center;
            background: #06868a69;
            padding: 20px;
            top: 100px;
            border-radius: 15px;
            box-shadow: 0 0 20px #1092cefb;
            font-size: 30px;
 }
footer {
    align-self: center;
    position: fixed;
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 11px;
    font-size: 20px;
    color: #aaaaaa;
    z-index: 3;
    
    bottom: 0;
}

footer span {
    color: #00eaff;
}
a
 {
    color:#00eaff ;
}
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 220px;
    height: 1000px;
    background: rgba(25, 116, 236, 0.479);
    box-shadow:rgba(11, 36, 104, 0.986);
    padding-top: 40px;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    padding: 65px 10px;
    color: #11b7f8f3;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a:hover {
    background: rgba(20, 6, 138, 0.103);
}
main {
    margin-right: 24px;
}
@media (max-width: 1279px)
{
    .card
    {
        padding: 15spx;
        border-radius: 10px;
        font-size: 25px;
        top: 150px;
    }
}
@media(max-width: 1125px)
{
    .card
    {
        padding: 20px;
        border-radius: 0px;
        font-size: 20px;
        top: 225px;
    
    } 
}
@media(max-width: 980px)
{ 
    .sidebar
    {
    
        position: fixed;
        right: 0;
        top: 0;
        width: 150px;
        height: 1000px;
        padding-top: 100px;
    }
    .sidebar a
    {
        padding: 80px,5px;
    }
}
@media(max-width:915px)
{
    .card
    {
        right: 80px;
        height: 300px;
    }
}
@media(max-width:635px)
{
    
    .card
    {
        top: 70px;
        right: 80px;
        height: 480px;
    }
    #LogoSlugterra
    {
        width: 400px;
    }
}
        

