html, body {
    margin:0;
    height: 100%;
    background-image: url(/images/Image\ slugs\ paysage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
main {
    display: flex;
    width: fit-content;
}

#shell{
position: absolute;
    width: 1000px;
    right: 40px;
    top: 96px;
}

#rectangle{

    position: absolute;
    width: 900px;
    height: 1400px;
    right: 95px;
    top: 150px;
    background: #245351;
    opacity: 0.4;
}
header
{
    display: flex;
    justify-content: center;
}
#LogoSlugterra {
    width: 1000px;
}


