html, body {
    margin:0;
    height: 100%;
}
main {
    display: flex;
    width: fit-content;
}

#shell{
position: absolute;
    width: 600px;
    height: 1000px;
    right: 40px;
    top: 96px;
    
}

#rectangle{

    position: absolute;
    width: 550px;
    height: 930px;
    right: 70px;
    top: 121px;
    
    background: #245351;
    opacity: 0.4;
}

