html, body {
    margin:0;
    height: 100%;
}
main {
    display: flex;
}

#shell{
position: absolute;
width: 390px;
height: 631px;
left: 878px;
top: 267px;
}

#rectangle{

    position: absolute;
    width: 359px;
    height: 500px;
    right: 15px;
    top: 88px;
    
    background: #245351;
    opacity: 0.4;
}

#shell_1{

    position: absolute;
    width: 390px;
    height: 631px;
    right: 0px;
    top: 0px;
    
    background: url(/images/Image\ capsule\ slug.webp);
}