body
{
    margin: 0;
    color: #ffffff;
    background-image: url(/images/Slugs\ image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header {
    
    padding: 80px 20px;
    text-align: center;
}

header h1 {
    font-size: 60px;
    margin-bottom: 10px;
    text-shadow: 0 0 15px #00eaff;
}

header p {
    font-size: 30px;
    max-width: 700px;
    margin: auto;
}
main 
{
    padding: 50px 15%;
            font-size: 30px;
}
footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #aaaaaa;
}

footer span {
    color: #00eaff;
}
a
 {
    color:#00eaff ;
}
.sidebar {
            position: fixed;
            right: 0;
            top: 0;
            width: 220px;
            height: 1000px;
            background: rgba(25, 117, 236, 0.13);
            box-shadow:rgba(11, 36, 104, 0.986);
            padding-top: 40px;
            z-index: 1000;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sidebar li {
            margin: 10px 0;
        }

        .sidebar a {
            display: block;
            padding: 100px 10px;
            color: #11b7f8f3;
            text-decoration: none;
            font-size: 20px;
        }

        .sidebar a:hover {
            background: rgba(20, 6, 138, 0.103);
        }
        main {
            margin-right: 24px;
        }

