body
{
    margin: 0;
    color: #ffffff;
    background-image: url(/images/Slugs\ image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header {
    
    padding: 80px 20px;
    text-align: center;
}

header h1 {
    font-size: 60px;
    margin-bottom: 10px;
    text-shadow: 0 0 15px #00eaff;
}

header p {
    font-size: 30px;
    max-width: 700px;
    margin: auto;
}
main 
{
    padding: 50px 15%;
            font-size: 30px;
}
h2 {
     color: #ffffff;
    margin-bottom: 15px;
    border-left: 5px solid #11a0ff;
    padding-left: 10px;
}

.card.fire {
    background: rgba(128, 41, 19, 0.37);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(161, 13, 13, 0.342);
}

ul {
    line-height: 1.8;
}
a{
    color:#00eaff ;
}
.card.slugs.fire {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #830d0d38;
box-shadow: rgba(165, 66, 66, 0.418);
}
.card.slugs img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
footer {
    position: relative;
    z-index: 3;
    background-color: #000;
    text-align: center;
    padding: 11px;
    font-size: 20px;
    color: #aaaaaa;
    
}

footer span {
    color: #00eaff;
}
a
 {
    color:#00eaff ;
}
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 220px;
    height: 1000px;
    background: rgba(25, 117, 236, 0.13);
    box-shadow:rgba(11, 36, 104, 0.986);
    padding-top: 40px;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    padding: 100px 10px;
    color: #11b7f8f3;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a:hover {
    background: rgba(20, 6, 138, 0.103);
}
main {
    margin-right: 24px;
}
#burpy
{
    color: #ffffff;
}
.card.burpy {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #830d0d38;
box-shadow: rgba(165, 66, 66, 0.418);
}
.card.burpy img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.card.slugs.water {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #1f0d8350;
box-shadow: rgba(46, 15, 184, 0.37);
}
.card.water {
    background: rgba(41, 40, 138, 0.37);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #1f0d8350;
}
.card.slugs.earth {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #854d0eb0;
box-shadow: #75400350;
}
.card.earth {
    background: #75400350;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #752c0250;
}

.card.slugs.air {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #cecac56e;
box-shadow: #d4d2d050;
}
.card.air {
    background: #f7f2f050;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #f5f2f250;
}
.card.slugs.energie {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #1c91394b;
box-shadow: #1e8a4250;
}
.card.energie {
    background: #0f8a4250;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #118d4050;
}

