body
{
    margin: 0;
    color: #ffffff;
    background-image: url(/images/Image\ slugs.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header {
    padding: 80px 20px;
    text-align: center;
}

header h1 {
    font-size: 60px;
    margin-bottom: 10px;
    text-shadow: 0 0 15px #00eaff;
}

header p {
    font-size: 30px;
    max-width: 700px;
    margin: auto;
}
main 
{
    padding: 50px 15%;
            font-size: 30px;
}
h2 {
     color: #ffffff;
    margin-bottom: 15px;
    border-left: 5px solid #11a0ff;
    padding-left: 10px;
}

.card.fire {
    background: rgba(128, 41, 19, 0.37);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(161, 13, 13, 0.342);
}

ul {
    line-height: 1.8;
}
a{
    color:#00eaff ;
}
.card.slugs.fire {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #830d0d38;
box-shadow: rgba(165, 66, 66, 0.418);
}
.card.slugs img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
footer {
    position: relative;
    z-index: 3;
    background-color: #000;
    text-align: center;
    padding: 11px;
    font-size: 20px;
    color: #aaaaaa;
    
}

footer span {
    color: #00eaff;
}
a
 {
    color:#00eaff ;
}
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 220px;
    height: 1000px;
    background: rgba(25, 117, 236, 0.13);
    box-shadow:rgba(11, 36, 104, 0.986);
    padding-top: 40px;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    padding: 65px 10px;
    color: #11b7f8f3;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a:hover {
    background: rgba(20, 6, 138, 0.103);
}
main {
    margin-right: 24px;
}
#burpy
{
    color: #ffffff;
}
.card.burpy {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #830d0d38;
box-shadow: rgba(165, 66, 66, 0.418);
}
.card.burpy img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.card.slugs.water {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #1f0d8350;
box-shadow: rgba(46, 15, 184, 0.37);
}
.card.water {
    background: rgba(41, 40, 138, 0.37);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #1f0d8350;
}
.card.slugs.earth {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #854d0eb0;
box-shadow: #75400350;
}
.card.earth {
    background: #75400350;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #752c0250;
}

.card.slugs.air {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #cecac56e;
box-shadow: #d4d2d050;
}
.card.air {
    background: #f7f2f050;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #f5f2f250;
}
.card.slugs.energie {
display: flex;
align-items: center;
gap: 20px;
border-radius: 15px;
padding: 15px;
margin: 20px 0;
background-color: #1c91394b;
box-shadow: #1e8a4250;
}
.card.energie {
    background: #0f8a4250;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #118d4050;
}
#burpyvelo:hover
{
    content: url(../images/Burpy_velo.webp);
}

#blastipedevelo:hover
{
   content: url(../images/Blastipede_velo.webp); 
}
#HopRockvelo:hover
{
   content: url(../images/HopRock_velo.webp); 
}
#Flaringovelo:hover
{
   content: url(../images/Flaringo_velo.webp); 
}
#ElementaireFeuvelo:hover
{
   content: url(../images/ElementaireFeu_velo.webp); 
}
#Forgeusevelo:hover
{
   content: url(../images/Forgeuse_velo.webp); 
}
#GreNukevelo:hover
{
   content: url(../images/Grenuke_velo.webp); 
}
#Firenzarvelo:hover
{
    content: url(../images/Firenzar_velo.webp);
}
#Aquabeekvelo:hover
{
    content: url(../images/Aquabeek_velo.webp);
}
#MakoBreakervelo:hover
{
    content: url(../images/Makobreaker_velo.webp);
}
#Bubbaleonevelo:hover
{
    content: url(../images/Bubbaleone_velo.webp);
}
#WaterElementalvelo:hover
{
    content: url(../images/WaterElemental_velo.webp);
}
#Lariatvelo:hover
{
    content: url(../images/Lariat_velo.webp);
}
#Jellyishvelo:hover
{
    content: url(../images/Jellyish_velo.webp);
}
#Tenashervelo:hover
{
    content: url(../images/Tenasher_velo.webp);
}
#SpikeShadevelo:hover
{
    content: url(../images/SpikeShade_velo.webp);
}
#FrostCrawlervelo:hover
{
    content: url(../images/FrostCrawler_velo.webp);
}
#Narwhaddlevelo:hover
{
    content: url(../images/Narwhaddle_velo.webp);
}
#Crystalydvelo:hover
{
    content: url(../images/Crystalyd_velo.webp);
}
#Lavalynxvelo:hover
{
    content: url(../images/Lavalynx_velo.webp);
}
#Rammstonevelo:hover
{
    content: url(../images/Rammstone_velo.webp);
}
#EarthElementalvelo:hover
{
    content: url(../images/EarthElemental_velo.webp);
}
#Arachnetvelo:hover
{
    content: url(../images/Arachnet_velo.webp);
}
#GeoShardvelo:hover
{
    content: url(../images/GeoShard_velo.webp);
}
#Diggrixvelo:hover
{
    content: url(../images/Diggrix_velo.webp);
}
#SandAnglervelo:hover
{
    content: url(../images/SandAngler_velo.webp);
}
#Armasheltvelo:hover
{
    content: url(../images/Armashelt_velo.webp);
}
#Threshervelo:hover
{
    content: url(../images/Thresher_velo.webp);
}
#SpeedStingervelo:hover
{
    content: url(../images/SpeedStinger_velo.webp);
}
#Polerovelo:hover
{
    content: url(../images/Polero_velo.webp);
}
#SlickSilvervelo:hover
{
    content: url(../images/SlickSilver_velo.webp);
}
#Vinedrillvelo:hover
{
    content: url(../images/Vinedrill_velo.webp);
}
#DirtUrchinvelo:hover
{
    content: url(../images/DirtUrchin_velo.webp);
}
#Neotoxvelo:hover
{
    content: url(../images/Neotox_velo.webp);
}
#Tormatovelo:hover
{
    content: url(../images/Tormato_velo.webp);
}
#Piepervelo:hover
{
    content: url(../images/Pieper_velo.webp);
}
#Gazzervelo:hover
{
    content: url(../images/Gazzer_velo.webp);
}
#AirElementalvelo:hover
{
    content: url(../images/AirElemental_velo.webp);
}
#Hoverbugvelo:hover
{
    content: url(../images/Hoverbug_velo.webp);
}
#Slyrenvelo:hover
{
    content: url(../images/Slyren_velo.webp);
}
#Flatulorhinkusvelo:hover
{
    content: url(../images/Flatulorhinkus_velo.webp);
}
#Toxisvelo:hover
{
    content: url(../images/NoImageFound.webp);
}
#Tazerlingvelo:hover
{
    content: url(../images/Tazerling_velo.webp);
}
#Xmittervelo:hover
{
    content: url(../images/Xmitter_velo.webp);
}
#Frightgeistvelo:hover
{
    content: url(../images/Frightgeist_velo.webp);
}
#EnergyElementalvelo:hover
{
    content: url(../images/EnergyElemental_velo.webp);
}
#Fandangovelo:hover
{
    content: url(../images/Fandango_velo.webp);
}
#Enigmovelo:hover
{
    content: url(../images/Enigmo_velo.webp);
}
#Phosphorovelo:hover
{
    content: url(../images/Phosphoro_velo.webp);
}
#WhiteBoonvelo:hover
{
    content: url(../images/WhiteBoon_velo.webp);
}
#Midasvelo:hover
{
    content: url(../images/Midas_velo.webp);
}
#Glowbyssvelo:hover
{
    content: url(../images/Glowbyss_velo.webp);
}
#Hypnogrifvelo:hover
{
    content: url(../images/Hypnogrif_velo.webp);
}
#Negashadevelo:hover
{
    content: url(../images/Negashade_velo.webp);
}
#Thuggletvelo:hover
{
    content: url(../images/Thugglet_velo.webp);
}
#Hexletvelo:hover
{
    content: url(../images/Hexlet_velo.webp);
}
@media(max-width: 1270px)
{ 
    .sidebar
    {
    
        position: fixed;
        right: 0;
        top: 0;
        width: 150px;
        height: 1000px;
        padding-top: 100px;
    }
    .sidebar a
    {
        padding: 80px,5px;
    }
    
}
@media(max-width:1200px)
{
   section
    {
        margin-left: 30px;
        width: 600px;
    }
    
}
@media(max-width:980px)
{
   section
    {
        margin-left: -50px;
        width: 500px;
    }
    header
    {
       margin-left: 70px;
        width: 500px; 
    }
}
@media(max-width:860px)
{
   .card.slugs
   {
    display: flex;
    flex-direction: column;
   }
   .card.burpy
   {
    display: flex;
    flex-direction: column;
   }
   header
    {
       margin-left: 10px;
        width: 400px; 
    }
}
@media(max-width:770px)
{
    section
    {
       margin-left: -50px;
        width: 300px; 
    }
}