        body {
        margin: 0;
            color: #ffffff;
            background-image: url(/images/Image\ fond\ clan\ des\ ombres.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }

        header {
            text-align: center;
            padding: 80px 20px;
            margin: 50px 15%;
        }

        header h1 {
            font-size: 60px;
            text-shadow: 0 0 15px #00eaff;
        }

        header p {

            font-size: 30px;
        }

        main {
            padding: 50px 15%;
            font-size: 30px;
        }

        h2 {
            color: #00eaff;
            margin-bottom: 15px;
            border-left: 5px solid #00eaff;
            padding-left: 10px;
        }

        .card {
            background: rgba(20, 6, 138, 0.103);
            padding: 25px;
            border-radius: 15px;
            margin-bottom: 30px;
            box-shadow: 0 0 20px rgba(11, 25, 104, 0.986);
        }

        ul {
            line-height: 1.8;
        }

        footer {
            position: relative;
            z-index: 3;
            background-color: #000;
            text-align: center;
            padding: 11px;
            font-size: 20px;
            color: #aaaaaa; 
        }

        footer span {
        color: #00eaff;
        }
        a   
        {
        color:#00eaff ;
        }
        
        .sidebar {
            position: fixed;
            right: 0;
            top: 0;
            width: 220px;
            height: 1000px;
            background: rgba(42, 18, 128, 0.384);
            box-shadow:rgba(11, 25, 104, 0.986);
            padding-top: 40px;
            z-index: 1;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sidebar li {
            margin: 10px 0;
        }

        .sidebar a {
            display: block;
            padding: 65px 10px;
            color: #00eaff;
            text-decoration: none;
            font-size: 20px;
        }

        .sidebar a:hover {
            background: rgba(20, 6, 138, 0.103);
        }
        main {
            margin-right: 24px;
        }
@media (max-width: 1420px)
{
    .card
    {
       width: 800px;
    }
    
}
@media(max-width: 1270px)
{ 
    .sidebar
    {
    
        position: fixed;
        right: 0;
        top: 0;
        width: 150px;
        height: 1000px;
        padding-top: 100px;
    }
    .sidebar a
    {
        padding: 80px,5px;
    }
    
}
@media(max-width:1200px)
{
   .card
    {
        margin-left: 30px;
        width: 600px;
    }
}
@media(max-width:980px)
{
   .card
    {
        margin-left: -50px;
        width: 500px;
    }
}
@media(max-width:860px)
{
   .card
    {
        width: 400px;
    }
}
@media(max-width:700px)
{
   .card
    {
        width: 300px;
    }
    
}