body {
            margin: 0;
            color: #ffffff;
            background-image: url(/images/Image\ fond\ clan\ des\ ombres.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }

        header {
            
            padding: 80px 20px;
            text-align: center;
        }

        header h1 {
            font-size: 60px;
            margin-bottom: 10px;
            text-shadow: 0 0 15px #00eaff;
        }

        header p {
            font-size: 30px;
            max-width: 700px;
            margin: auto;
        }

        main {
            padding: 50px 15%;
            font-size: 30px;
        }

        h2 {
            color: #00eaff;
            margin-bottom: 15px;
            border-left: 5px solid #00eaff;
            padding-left: 10px;
        }

        .card {
            background: rgba(20, 6, 138, 0.103);
            padding: 25px;
            border-radius: 15px;
            margin-bottom: 30px;
            box-shadow: 0 0 20px rgba(11, 25, 104, 0.986);
        }

        ul {
            line-height: 1.8;
        }

        footer {
            background-color: #000;
            text-align: center;
            padding: 20px;
            font-size: 30px;
            color: #aaa;
        }

        footer span {
            color: #00eaff;
        }
        a
        {
            color:#00eaff ;
        }
        
        .sidebar {
            position: fixed;
            right: 0;
            top: 0;
            width: 220px;
<<<<<<< HEAD
            height: 1000px;
            background: rgba(42, 18, 128, 0.178);
            box-shadow:rgba(11, 25, 104, 0.986);
            padding-top: 40px;
=======
            height: 100vh;
            background: rgba(42, 18, 128, 0.178);
            box-shadow:rgba(11, 25, 104, 0.986);
            padding-top: 60px;
>>>>>>> 3c0709adbc1173ca56052e529eda1cace40dfabd
            z-index: 1000;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sidebar li {
            margin: 10px 0;
        }

        .sidebar a {
            display: block;
<<<<<<< HEAD
            padding: 100px 10px;
            color: #00eaff;
            text-decoration: none;
            font-size: 20px;
=======
            padding: 180px 10px;
            color: #00eaff;
            text-decoration: none;
            font-size: 40px;
>>>>>>> 3c0709adbc1173ca56052e529eda1cace40dfabd
        }

        .sidebar a:hover {
            background: rgba(20, 6, 138, 0.103);
        }
<<<<<<< HEAD
=======

        .sidebar a.active {
            background: rgba(19, 6, 138, 0.288);
            color: #00eaff;
        }
>>>>>>> 3c0709adbc1173ca56052e529eda1cace40dfabd
        main {
            margin-right: 24px;
        }